body {
    background: url('./img/background_yellow.jpeg') no-repeat center center fixed;
    background-size: cover;

  }
  
  #btncheck1:checked ~ #textP {
    text-decoration: line-through;
    color: #183B59 !important;
  }
  
  @media screen and (max-width: 800px) {
    #container{
        width: 95% !important;
    }
  
    .input-group.mb-3.w-75{
        width: 103% !important;
    }
  
    body {
      background: url(./img/background_yellow.jpeg) center;

    }
  }